<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{general/fragmentos :: head}"></head>

<body>

    <aside th:replace="~{general/fragmentos :: sidebar}"></aside>

    <main class="main-content">

        <section th:replace="~{conductor/fragmentos :: titulo}"></section>

        <section th:replace="~{conductor/fragmentos :: tablaConductores}"></section>

    </main>
    <div th:replace="~{conductor/fragmentos :: modalAgregar}"></div>
    <div th:replace="~{conductor/fragmentos :: modalEliminar}"></div>
    <footer th:replace="~{general/fragmentos :: scripts}"></footer>

</body>

</html>